In [1]:
!ls

4_results.tsv            pandas_scratchbook.ipynb

In [30]:
import pandas as pd
import numpy as np

In [7]:
df= pd.read_table('4_results.tsv', sep="\t")

df.head()

   method       dataset  APSI  APSSI       SPS     SCI  braliSCI  uniq  k
0  mafftx  SRP_euk_arch    31     -1  0.167164  0.8495        96     1  2
1  mafftx  SRP_euk_arch    45     -1  0.136054  0.9582        87     1  2
2  mafftx  SRP_euk_arch    36     -1  0.115152  0.5542        77     1  2
3  mafftx  SRP_euk_arch    57     -1  0.218543  1.0035       110     1  2
4  mafftx  SRP_euk_arch    56     -1  0.717608  1.1120       110     2  2

In [38]:
df.shape

(94950, 9)

In [39]:
df.dtypes

method       object
dataset      object
APSI          int64
APSSI         int64
SPS         float64
SCI         float64
braliSCI      int64
uniq          int64
k             int64
dtype: object

In [32]:
print(df.method.unique())
print(df.dataset.unique())
np.unique(np.array([1,1,2,3]))

['mafftx' 'sparse' 'beagles' 'mlocarna' 'raf']
['SRP_euk_arch' 'gcvT' '5_8S_rRNA' 'U6' 'Histone3' 'Entero_OriR' 'S_box'
 'sno_14q_I_II' 'Hammerhead_3' 'Cobalamin' 'TAR' 'Lysine' 'UnaL2'
 'HCV_SLIV' 'Hammerhead_1' 'HIV_FE' 'THI' 'yybP-ykoY' 'T-box' 'HIV_GSL3'
 'tRNA' 'IRES_HCV' 'SRP_bact' 'Entero_5_CRE' 'U1' 'Intron_gpII' 'SECIS'
 'U2' 'Retroviral_psi' 'IRES_Picorna' 'HCV_SLVII' 'HIV_PBS' '5S_rRNA'
 'Entero_CRE' 'K_chan_RES' 'HepC_CRE']

array([1, 2, 3])

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94950 entries, 0 to 94949
Data columns (total 9 columns):
method      94950 non-null object
dataset     94950 non-null object
APSI        94950 non-null int64
APSSI       94950 non-null int64
SPS         94950 non-null float64
SCI         94950 non-null float64
braliSCI    94950 non-null int64
uniq        94950 non-null int64
k           94950 non-null int64
dtypes: float64(2), int64(5), object(2)
memory usage: 6.5+ MB

In [37]:
df.describe(include='all')

,method,dataset,APSI,APSSI,SPS,SCI,braliSCI,uniq,k
count,94950,94950,94950.000000,94950.0,94950.000000,94950.000000,94950.000000,94950.000000,94950.000000
unique,5,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,raf,tRNA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,18990,20110,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,68.557504,-1.0,0.595140,0.930547,93.983044,1.652185,3.710321
std,NaN,NaN,19.517234,0.0,0.334326,0.221283,17.189719,1.497587,2.769626
min,NaN,NaN,16.000000,-1.0,0.000000,-0.000000,66.000000,1.000000,2.000000
25%,NaN,NaN,51.000000,-1.0,0.274257,0.817900,80.000000,1.000000,2.000000
50%,NaN,NaN,71.000000,-1.0,0.610781,0.958400,93.000000,1.000000,3.000000
75%,NaN,NaN,87.000000,-1.0,0.957627,1.060100,104.000000,2.000000,5.000000
max,NaN,NaN,95.000000,-1.0,1.000000,2.014000,175.000000,21.000000,15.000000

In [35]:
df.describe?

In [16]:
df.iloc[1:3,0]

1    mafftx
2    mafftx
Name: method, dtype: object

In [46]:
#boolean indexing (how many with SPS over 75%?)
df.sample(10)

         method  dataset  APSI  APSSI       SPS     SCI  braliSCI  uniq   k
22868    sparse     tRNA    47     -1  0.959459  1.2151       112     2   2
77871       raf   HIV_FE    90     -1  1.000000  1.0084       100     5   2
1696     mafftx   HIV_FE    87     -1  1.000000  1.0000        96     7   2
50677   beagles      THI    48     -1  0.147541  0.5124        86     1   3
20663    sparse   HIV_FE    92     -1  1.000000  1.0617       101     8   2
17261    mafftx     tRNA    46     -1  0.233333  0.9266       121     1   5
90926       raf    SECIS    39     -1  0.386473  1.0666        87     1   3
26622    sparse  5S_rRNA    37     -1  0.122951  1.1713       107     1   2
18766    mafftx     tRNA    43     -1  0.627706  1.2773       128     1  15
69372  mlocarna   HIV_FE    85     -1  1.000000  0.9234        86     1   3

In [56]:
#groupby
by_meth = df.groupby('method')
by_meth.mean()

by_meth_ds = df.groupby(['method','dataset'])
by_meth_ds.mean()
##SPS medio per methodo, dataset e APSI

by_meth_APSI = df.groupby(['method','APSI'])
data=by_meth_APSI.SPS.mean()

In [68]:
type(by_meth_APSI.SPS.mean())


data.index

MultiIndex(levels=[['beagles', 'mafftx', 'mlocarna', 'raf', 'sparse'], [16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95]],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76]],
           names=['method', 'APSI'])

In [47]:
df.mean()

APSI        68.557504
APSSI       -1.000000
SPS          0.595140
SCI          0.930547
braliSCI    93.983044
uniq         1.652185
k            3.710321
dtype: float64

In [ ]:
#iterrows, itertuples

# estrai le media SCI per metodo del sottodataframe comprendente le righe con SPS superiore al 50% e APSI inferiore a 0.7